.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

body {
    background-color: hsl(0, 0%, 98%);
    padding: 5rem 2rem;
}

.hero {
    margin-inline: auto;
}

.card {
    background-color: #FFFFFF;
    padding: 1.75rem;
    border-radius: 0.5rem;
    box-shadow: 0px 15px 30px -11px hsla(213, 47%, 67%, 50%);
    display: flex;
    flex-direction: column;
}

.supervisor {
    border-top: 3.47px solid hsl(180, 62%, 55%);
}

.teambuilder {
    border-top: 3.47px solid hsl(0, 78%, 62%);
}

.karma {
    border-top: 3.47px solid hsl(34, 97%, 64%);
}

.calculator {
    border-top: 3.47px solid hsl(212, 86%, 64%);
}

.hero {
    text-align: center;
    margin-bottom: 4.75rem;
    max-width: 33.75rem;
}

.hero>h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0.17px;
    color: #4D4F62;
}

.hero>p {
    font-size: 15px;
    color: #A6A8B1;
    letter-spacing: 0.1px;
}

.content {
    display: grid;
    gap: 1.5rem;
}

.card>h2 {
    font-size: 1.25rem;
    color: #4D4F62;
}

.card>p {
    font-size: 13px;
    margin-bottom: 2rem;
    color: #A6A8B1;
    letter-spacing: 0.09px;
}

.card>img {
    max-width: 57px;
    align-self: end;
}

@media (min-width: 40rem) {
    body {
        padding: 5rem 2rem;
    }

    .hero {
        margin-bottom: 4rem;
    }

    .hero>h1 {
        font-size: 2.25rem;
        letter-spacing: 0.25px;
    }

    .content {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1.875rem;
        grid-auto-flow: column;
        margin-inline: auto;
        place-items: center;
        place-content: center;
        max-width: 69.375rem;
    }

    .card {
        max-width: 21.875rem;
        padding: 2rem;
    }

    .card>p {
        margin-bottom: 2.5rem;
    }

    .card>h2 {
        margin-bottom: 0.375rem;
    }

    .card>img {
        max-width: 4rem;
    }

    .supervisor {
        grid-column-start: 1;
        grid-row: 2 / span 2;
    }

    .teambuilder {
        grid-column-start: 2;
        grid-row: 1 / span 2;
    }

    .karma {
        grid-column-start: 2;
        grid-row: 3 / span 2;

    }

    .calculator {
        grid-column-start: 3;
        grid-row: 2 / span 2;
    }
}